.article {
    border-bottom: 2px solid rgb(253, 101, 101);
    padding-bottom: 40px;
}

.article pre { 
    font-family: monospace;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

.article h1, h2, h3, h4 {
    font-weight: normal;
    margin-top: 40px;
}

.article h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 50px;
}

.article h2 {
    border-left: 5px solid rgb(253, 101, 101);
    padding-left: 15px;
}

.article .language-bash,
.article .language-js {
    color: white;
}

.article a {
    color: rgb(253, 101, 101);
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.article a:hover {
    border-bottom-color: rgb(253, 101, 101);
}

.article strong {
    font-weight: 600;
    color: #444;
}

.article ol {
    padding-left: 1.6em;
}

.article ul {
    padding-left: 15px;
    list-style-type: none;
}
